<!-- Navigation panel -->
<nav class="main-nav dark transparent stick-fixed wow-menubar">
    <div class="full-wrapper relative clearfix">

        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="{{ url_for('index.index') }}" class="logo" aria-label="Home">
                <img src="{{url_for('static', filename= 'assets/img/name_white.svg')}}" alt="Company logo" width="188" height="37" class="logo-white" />
                <img src="{{url_for('static', filename= 'assets/img/name_black.svg')}}" alt="Company logo" width="188" height="37" class="logo-dark" />
            </a>
        </div>

        <!-- Mobile Menu Button -->
        <div class="mobile-nav" role="button" tabindex="0">
            <i class="fa fa-bars"></i>
            <span class="sr-only">{{_('Menu')}}</span>
        </div>

        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist scroll-nav local-scroll">
                <li class="active"><a href="{{ url_for("index.index") }}">{{_('Home')}}</a></li>
                <li><a id="DarkLightToggle" href="#!" onclick="DarkLightToggle(); return false;">{{_('Dark view')}}</a></li>
                <!-- Languages -->
                <li>
                    <a href="#" class="mn-has-sub">
                        <i class="mn-has-sub-icon"></i>
                    </a>
                    <ul class="mn-sub">
                        <li><a href="{{ url_for("index.index", lang_code='en') }}">{{_('English')}}<div class="mn-flag-icon">{% include 'icons/us_flag.html' %}</div></a></li>
                        <li><a href="{{ url_for("index.index", lang_code='es') }}">{{_('Español')}}<div class="mn-flag-icon">{% include 'icons/mx_flag.html' %}</div></a></li>
                    </ul>
                </li>
                <!-- End Languages -->
            </ul>
        </div>
        <!-- End Main Menu -->

    </div>
</nav>
<!-- End Navigation panel -->