{% extends 'layout.html' %}

{% block title %}
{{pageTitle}}
{% endblock %}

{% block content %}
<p id="instructions">Collect stars. <br>Avoid bombs. <br>Spacebar, mousedown or touch to climb</p>
<div id="info">
    <div id="life">
        <img src="{{url_for('static', filename= '/assets/models/plane/plane-icon.png')}}" />
        <div id="lives">3</div>
    </div>
    <div id="score-panel">
        <div id="score">0</div><img src="{{url_for('static', filename= '/assets/models/plane/star-icon.png')}}" />
    </div>
</div>
<p id="gameover">Game over</p>
<button id="playBtn">PLAY</button>
<canvas class="webgl"></canvas>

<script type="module">
    import { App3D } from "{{url_for('static', filename= 'js/app/Game.js')}}";

    document.addEventListener("DOMContentLoaded", function () {
        const app = new App3D();
        window.app = app;
    });
</script>
{% endblock %}