<!-- About Section -->
<section class="page-section bg-dark light-content" id="about">
    <div class="container relative">

        <div class="mb-140 mb-sm-70">
            <div class="row section-text">

                <div class="col-md-12 col-lg-4 mb-md-50 mb-xs-30 d-flex justify-content-center align-items-center">
                    <div class="lead-alt wow animate__linesAnimIn" data-splitting="lines" data-wow-delay="1.3s" data-wow-offset="0">
                        {{_('About Me')}}
                    </div>
                </div>

                <div style="text-align: justify;" class="col-md-6 col-lg-4 mb-sm-50 mb-xs-30 wow animate__linesAnimIn"
                    data-splitting="lines" data-wow-delay="1.3s">
                    {{_("""I hold a degree in Mechatronics Engineering from Universidad Iberoamericana, where I gained a
                    strong foundation in interdisciplinary engineering principles. I seamlessly integrate hardware and
                    software solutions to create innovative, multifaceted systems. I bring a wealth of expertise in
                    Python programming, AWS cloud infrastructure, and efficient code deployment practices to my
                    work.""")}}
                </div>

                <div style="text-align: justify;" class="col-md-6 col-lg-4 mb-sm-50 mb-xs-30 wow animate__linesAnimIn"
                    data-splitting="lines" data-wow-delay="1.3s">
                    {{_("""My passion lies in merging machine learning with automotive technology, specifically focusing on
                    enhancing autonomous vehicles. When I'm not immersed in my technical pursuits, I find tranquility in
                    playing the piano and crafting with wood, balancing creativity and precision in my hobbies. Whether
                    I'm exploring melodies on the piano or creating handmade furniture, I'm dedicated to continuous
                    personal and professional growth.""")}}
                </div>

            </div>
        </div>

        <div class="row">
            <!-- Team item -->
            <div class="col-md-4 mb-xs-30 mx-auto">
                <div class="team-item-wrap">
                    <div>
                        <div class="team-item-decoration wow animate__animated animate__fadeInUp" data-wow-offset="0"
                            data-background="{{url_for('static', filename='assets/img/decorator.webp')}}">
                        </div>
                        <div class="team-item-decoration-overlay wow animate__animated animate__fadeInUp"
                            data-wow-offset="0"></div>
                    </div>

                    <div class="team-item wow animate__animated animate__fadeInDown">
                        <div class="team-item-image">
                            <img src="{{url_for('static', filename='assets/img/me.webp')}}" alt="My photo" />
                            <div class="team-item-detail">
                                <p class="team-item-detail-title">
                                    {{_("Where to find me")}}
                                </p>
                                <p>
                                    {{_("Feel free to visit my LinkedIn and GitHub profiles to learn a little more about
                                    me")}}
                                </p>
                                <div class="team-social-links">
                                    <a href="https://github.com/MemoOR" target="_blank"><i
                                            class="fab fa-github"></i><span class="sr-only">{{_("Github profile")}}</span></a>
                                    <a href="https://www.linkedin.com/in/guillermo-or" target="_blank"><i
                                            class="fab fa-linkedin"></i><span class="sr-only">{{_("LinkedIn profile")}}</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-item-descr">
                            <div class="team-item-name">
                                Guillermo Ortega Romo
                            </div>
                            <div class="team-item-role">
                                DevOps
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Team item -->
        </div>

    </div>
</section>
<!-- End About Section -->