<!-- Footer -->
<footer class="main-footer page-section bg-dark-lighter light-content footer pb-100 pb-sm-50 parallax-5"
    data-background="{{url_for('static', filename= 'assets/img/decorator.png')}}">

    <div class="main-footer-div bg-dark-alfa-50"></div>

    <div class="container">

        <!-- Social Links -->
        <div class="footer-social-links mb-90 mb-xs-40">
            <a href="https://github.com/MemoOR" title="Github" target="_blank"><i class="fab fa-github"></i> <span
                    class="sr-only">{{_('Github profile')}}</span></a>
            <a href="https://www.linkedin.com/in/guillermo-or" title="LinkedIn" target="_blank"><i
                    class="fab fa-linkedin"></i> <span class="sr-only">{{_('LinkedIn profile')}}</span></a>
        </div>
        <!-- End Social Links -->

        <!-- Footer Text -->
        <div class="footer-text">

            <!-- Copyright -->
            <div class="footer-copy">
                <a href="#!">GDcode Labs & Studios &copy; {{now.year}} {{_('All rights reserved')}}</a>.
            </div>
            <!-- End Copyright -->

            <div class="footer-made">
                Guillermo Ortega Romo
            </div>

        </div>
        <!-- End Footer Text -->

    </div>
    <!-- Top Link -->
    <div class="local-scroll">
        <a href="#top" class="link-to-top"><i class="link-to-top-icon"></i><span class="sr-only">{{_('Scroll to top')}}</span></a>
    </div>
    <!-- End Top Link -->

</footer>
<!-- End Footer -->