<!-- Home Section -->
<section class="home-section bg-dark-alfa-50 parallax-5"
data-background="images/full-width-images/section-bg-8.jpg" id="home">
<div class="container min-height-100vh d-flex align-items-center pt-100 pb-100">

    <!-- Hero Content -->
    <div class="home-content text-start">
        <h1 class="hs-line-10 uppercase mb-30 mb-xs-20 wow fadeInUpShort" data-wow-delay=".1s">Rhythm
            Template</h1>
        <h2 class="hs-line-5 mb-60 mb-xs-40 wow fadeInUpShort" data-wow-delay=".2s">Studio That Crafts
            Beautiful Digital Experiences and Products</h2>
        <div class="local-scroll wow fadeInUpShort" data-wow-delay=".3s">
            <a href="#about" class="btn btn-mod btn-w btn-medium btn-round mx-md-1">Learn More</a>
            <a href="pages-services-1.html" class="btn btn-mod btn-w btn-medium btn-round mx-md-1">Start
                Project</a>
        </div>
    </div>
    <!-- End Hero Content -->

    <!-- Scroll Down -->
    <div class="local-scroll scroll-down-wrap wow fadeInUpShort" data-wow-offset="0">
        <a href="#about" class="scroll-down"><i class="scroll-down-icon"></i><span class="sr-only">Scroll to
                the next section</span></a>
    </div>
    <!-- End Scroll Down -->

</div>
</section>
<!-- End Home Section -->