<!-- Home Section -->
<section class="home-section bg-dark-alfa-70 parallax-5" 
data-background="{{url_for('static', filename= 'assets/img/decorator.png')}}" id="home">
    <div class="container min-height-100vh d-flex align-items-center pt-100 pb-100">

        <!-- Hero Content -->
        <div class="home-content text-start">
            <h1 class="hs-line-10 uppercase mb-30 mb-xs-20 wow animate__animated animate__fadeInDownShort" data-wow-delay=".1s">{{_('DevOps Engineer')}}</h1>
            <h2 class="hs-line-5 mb-60 mb-xs-40 wow animate__animated animate__fadeInDownShort" data-wow-delay=".2s">Guillermo Ortega Romo</h2>
            <!-- <div class="wow animate__animated animate__fadeInUpShort" data-wow-delay="1.3s">
                <div class="handdrawn-arrow arrows"></div>
                <div class="arrow-text-1 arrows">Play a game</div>
            </div> -->
            <div class="local-scroll wow animate__animated animate__fadeInUpShort" data-wow-delay=".3s">
                <a href={{_("/3dworld")}} class="btn btn-mod btn-w btn-medium btn-round mx-md-1 lightbox-gallery-1 mfp-iframe desktop-play" hidden>{{_('Play a game')}}</a>
                <a href={{_("/3dworld")}} class="btn btn-mod btn-w btn-medium btn-round mx-md-1 mobile-play" target="_blank" hidden>{{_('Play a game')}}</a>
            </div>
        </div>
        <!-- End Hero Content -->

        <!-- Scroll Down -->
        <div class="scroll-down-wrap wow animate__animated animate__fadeInUpShort" data-wow-delay=".8s" data-wow-offset="0">
            <div class="arrow-text-2 arrows">{{_('Explore the page')}}</div>
            <div class="handdrawn-arrow-2 arrows"></div>
        </div>
        <div class="local-scroll scroll-down-wrap wow animate__animated animate__fadeInUpShort" data-wow-offset="0">
            <a href={{_("#about")}} class="scroll-down"><i class="scroll-down-icon"></i><span class="sr-only">{{_('Scroll to the next section')}}</span></a>
        </div>
        <!-- End Scroll Down -->

    </div>
</section>
<!-- End Home Section -->