<!-- Navigation panel -->
<nav class="main-nav dark transparent stick-fixed wow-menubar">
    <div class="full-wrapper relative clearfix">

        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="{{ url_for('index.index') }}" class="logo">
                <img src="{{url_for('static', filename= 'assets/img/name_white.png')}}" alt="Company logo" width="188"
                    height="37" class="logo-white" />
                <img src="{{url_for('static', filename= 'assets/img/name_black.png')}}" alt="Company logo" width="188"
                    height="37" class="logo-dark" />
            </a>
        </div>

        <!-- Mobile Menu Button -->
        <div class="mobile-nav" role="button" tabindex="0">
            <i class="fa fa-bars"></i>
            <span class="sr-only">{{_('Menu')}}</span>
        </div>

        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist scroll-nav local-scroll">
                <li class="active"><a href="#home">{{_('Home')}}</a></li>
                <li><a href="#about">{{_('About')}}</a></li>
                <li><a href="#resume">{{_('Resume')}}</a></li>
                <li><a href="#portfolio">{{_('Portfolio')}}</a></li>
                <li><a href="#contact">{{_('Contact')}}</a></li>
                <li><a id="DarkLightToggle" href="#!" onclick="DarkLightToggle(); return false;">{{_('Dark view')}}</a>
                </li>
                <!-- Languages -->
                <li>
                    <a href="#" class="mn-has-sub">
                        <div class="mn-flag-icon">{% include lang_icon %}</div>
                        <i class="mn-has-sub-icon"></i>
                    </a>
                    <ul class="mn-sub">
                        <li><a href="{{ url_for(request.endpoint, lang_code='en') }}">{{_('English')}}</a></li>
                        <li><a href="{{ url_for(request.endpoint, lang_code='es') }}">{{_('Español')}}</a></li>
                    </ul>
                </li>
                <!-- End Languages -->
            </ul>
        </div>
        <!-- End Main Menu -->

    </div>
</nav>
<!-- End Navigation panel -->