<!-- Portfolio Section -->
<section class="page-section pb-0 bg-dark light-contents" id="portfolio">
    <div class="full-wrapper relative">

        <div class="text-center mb-80 mb-sm-50">
            <h2 class="section-title">Portfolio</h2>
            <p class="section-title-descr">
                Take a look at some projects i have worked on
            </p>
        </div>

        <!-- Works Filter -->
        <div class="works-filter text-center">
            <a href="#" class="filter active" role="button" aria-pressed="true" data-filter="*">All works</a>
            <a href="#personal" class="filter" role="button" aria-pressed="false" data-filter=".personal">Personal</a>
            <a href="#gdcode" class="filter" role="button" aria-pressed="false" data-filter=".gdcode">GDcode</a>
            <a href="#espressive" class="filter" role="button" aria-pressed="false"
                data-filter=".espressive">Espressive</a>
        </div>
        <!-- End Works Filter -->

        <!-- Works Grid -->
        <ul class="works-grid work-grid-3 clearfix hide-titles" id="work-grid">

            <!-- Work Item (External Page) -->
            <li class="work-item mix gdcode">
                <a href="https://github.com/gd-code-md/SmartTerrariumR" target="_blank" class="work-ext-link">
                    <div class="work-img text-center">
                        <div class="work-img-bg wow-p animate__animated animate__scalexIn"></div>
                        <img src="{{url_for('static', filename='assets/img/terrario.jpg')}}" alt="Work Description"
                            class="wow-p animate__animated animate__fadeIn" data-wow-delay="1s"
                            style="margin: 0 auto;" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">Smart Terra</h3>
                        <div class="work-descr">
                            <br>
                            In collaboration with a partner we developed an IoT based smart terrarium application for
                            precise terrarium management.
                            <br>
                            <br>
                            Click to learn more
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->

            <!-- Work Item (External Page) -->
            <li class="work-item mix branding personal">
                <a href="https://www.linkedin.com/posts/guillermo-or_dji-python-algoritmos-activity-6906065588762808320-vTRs?utm_source=share&utm_medium=member_desktop"
                    target="_blank" class="work-ext-link">
                    <div class="work-img text-center">
                        <div class="work-img-bg wow-p animate__animated animate__scalexIn"></div>
                        <img src="{{url_for('static', filename='assets/img/robomaster.jpg')}}" alt="Work Description"
                            class="wow-p animate__animated animate__fadeIn" data-wow-delay="1s"
                            style="margin: 0 auto;" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">Robomaster programming</h3>
                        <div class="work-descr">
                            <br>
                            Used trajectory generation algorithms programmed in python to move the DJI robomaster across
                            multiple fields with obstacles.
                            <br>
                            <br>
                            Click to learn more
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->

            <!-- Work Item (External Page) -->
            <li class="work-item mix branding personal">
                <a href="https://github.com/MemoOR/SmartWifiBlinds" target="_blank" class="work-ext-link">
                    <div class="work-img text-center">
                        <div class="work-img-bg wow-p animate__animated animate__scalexIn"></div>
                        <img src="{{url_for('static', filename='assets/img/blinds_model.png')}}" alt="Work Description"
                            class="wow-p animate__animated animate__fadeIn" data-wow-delay="1s"
                            style="margin: 0 auto;" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">Smart Blinds</h3>
                        <div class="work-descr">
                            <br>
                            I designed, developed and built an IoT device compatible with Alexa, enabling precise
                            control of my bedroom blinds.
                            <br>
                            <br>
                            Click to learn more
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->

            <!-- Work Item (External Page) -->
            <li class="work-item mix gdcode">
                <a href="#!" class="work-ext-link">
                    <div class="work-img text-center">
                        <div class="work-img-bg wow-p animate__animated animate__scalexIn"></div>
                        <img src="{{url_for('static', filename='assets/img/gdcode_logo.png')}}" alt="Description"
                            class="wow-p animate__animated animate__fadeIn" data-wow-delay="1s"
                            style="margin: 0 auto;" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">GD-code web page</h3>
                        <div class="work-descr">
                            <br>
                            Comming soon
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->

            <!-- Work Item (External Page) -->
            <li class="work-item mix gdcode">
                <a href="#!" class="work-ext-link">
                    <div class="work-img text-center">
                        <div class="work-img-bg wow-p animate__animated animate__scalexIn"></div>
                        <img src="{{url_for('static', filename='assets/img/home_logo.png')}}" alt="Description"
                            class="wow-p animate__animated animate__fadeIn" data-wow-delay="1s"
                            style="margin: 0 auto;" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">Casa4U</h3>
                        <div class="work-descr">
                            <br>
                            A real state web app to help people find their dream home, rent or sales.
                            <br>
                            <br>
                            Comming Soon
                        </div>
                    </div>
                </a>
            </li>
            <!-- End Work Item -->

            <!-- Work Item (Lightbox) -->
            <li class="work-item mix design espressive">
                <div class="work-img text-center">
                    <div class="work-img-bg wow-p animate__animated animate__scalexIn"></div>
                    <img src="{{url_for('static', filename='assets/img/barista_logo.svg')}}" alt="Work Description"
                        class="wow-p animate__animated animate__fadeIn" data-wow-delay="1s" style="margin: 0 auto;" />
                </div>
                <div class="work-intro no-link text-center">
                    <h3 class="work-title">1password Library</h3>
                    <div class="work-descr">
                        <br>
                        I created an in-house library enabling employees to securely share secrets using 1Password
                        app, significantly enhancing automation within our IT department streamlining various internal
                        tasks.
                    </div>
                </div>
            </li>
            <!-- End Work Item -->

            <!-- Work Item (Lightbox) -->
            <li class="work-item mix design espressive">
                <div class="work-img text-center">
                    <div class="work-img-bg wow-p animate__animated animate__scalexIn"></div>
                    <img src="{{url_for('static', filename='assets/img/barista_logo.svg')}}" alt="Work Description"
                        class="wow-p animate__animated animate__fadeIn" data-wow-delay="1s" style="margin: 0 auto;" />
                </div>
                <div class="work-intro no-link text-center">
                    <h3 class="work-title">Data Warehouse</h3>
                    <div class="work-descr">
                        <br>
                        Automated infrastructure deployment for an AWS Redshift data warehouse using Terraform and
                        Python adhering to internal security and compliance best practices.
                    </div>
                </div>
            </li>
            <!-- End Work Item -->

            <!-- Work Item (Lightbox) -->
            <li class="work-item mix design espressive">
                <div class="work-img text-center">
                    <div class="work-img-bg wow-p animate__animated animate__scalexIn"></div>
                    <img src="{{url_for('static', filename='assets/img/barista_logo.svg')}}" alt="Work Description"
                        class="wow-p animate__animated animate__fadeIn" data-wow-delay="1s" style="margin: 0 auto;" />
                </div>
                <div class="work-intro no-link text-center">
                    <h3 class="work-title">MLOps</h3>
                    <div class="work-descr">
                        <br>
                        Implemented a Blue-Green deployment strategy for AWS SageMaker endpoints
                        hosting machine learning models, transforming a 30-minute downtime during updates into zero
                        downtime.
                    </div>
                </div>
            </li>
            <!-- End Work Item -->

            <!-- Work Item (Lightbox) -->
            <li class="work-item mix design personal">
                <div class="work-img text-center">
                    <div class="work-img-bg wow-p animate__animated animate__scalexIn"></div>
                    <img src="{{url_for('static', filename='assets/img/crawler.jpg')}}" alt="Work Description"
                        class="wow-p animate__animated animate__fadeIn" data-wow-delay="1s" style="margin: 0 auto;" />
                </div>
                <div class="work-intro no-link text-center">
                    <h3 class="work-title">Baby crawling aid</h3>
                    <div class="work-descr">
                        <br>
                        I collaborated with a partner to design and build a device aimed at assisting children with
                        intellectual disabilities in their crawling journey.
                    </div>
                </div>
            </li>
            <!-- End Work Item -->

        </ul>
        <!-- End Works Grid -->

    </div>
</section>
<!-- End Portfolio Section -->