<!-- Resume Section -->
<section class="page-section bg-dark light-content" id="resume">
    <div class="container relative">
        <div class="text-center mb-80 mb-sm-50 wow animate__animated animate__fadeInUpShort" data-wow-delay="0" data-wow-duration="1s">
            <h2 class="section-title">Resume</h2>
            <p class="section-title-descr">
                Education and professional experience
            </p>
        </div>

        <!-- Resume Grid -->
        <div class="row resume-grid">
            <div class="col-sm-6 col-md-6 col-lg-6 mt-5">
                <div class="d-flex align-items-center justify-content-center">
                    <h3 class="mb-5">Education</h3>
                </div>

                <!-- Resume Education Item -->
                <div class="resume-item text-center wow animate__animated animate__fadeInUpShort" data-wow-delay=".1s" data-wow-duration="1.5s">
                    <div class="pb-3 d-flex align-items-center resume-icon icon-rect icon-light">
                        {% include 'icons/Udemy_logo.html' %}
                    </div>
                    <h3 class="resume-title">DevOps Beginners to Advanced with Projects</h3>
                    <span class="date"><i class="fa fa-calendar"></i><span class="sr-only"></span>&nbsp;&nbsp;&nbsp;2023</span>
                    <div class="resume-descr">
                        Udemy Certification<br>
                        Successfully completed a DevOps course with a focus on AWS and Kubernetes, significantly improving my skills and deepening my understanding of industry best practices.
                    </div>
                    <div class="resume-more">
                        <a href="https://www.udemy.com/certificate/UC-65676f6e-b294-40c6-9889-e5e4c9d0f0dc/" class="text-link" target="_blank">Certificate</a>
                    </div>
                </div>
                <!-- End Education Item -->

                <!-- Resume Education Item -->
                <div class="resume-item text-center wow animate__animated animate__fadeInUpShort" data-wow-delay=".1s" data-wow-duration="1.5s">
                    <div class="pb-3 d-flex align-items-center resume-icon icon-rect icon-light">
                        {% include 'icons/IELTS_logo.html' %}
                    </div>
                    <h3 class="resume-title">IELTS English Certification - C1</h3>
                    <span class="date"><i class="fa fa-calendar"></i><span class="sr-only"></span>&nbsp;&nbsp;&nbsp;2022</span>
                    <div class="resume-descr">
                        English level: Full professional proficiency
                    </div>
                </div>
                <!-- End Education Item -->

                <!-- Resume Education Item -->
                <div class="resume-item text-center wow animate__animated animate__fadeInUpShort" data-wow-delay=".1s" data-wow-duration="1.5s">
                    <div class="pb-3 d-flex align-items-center resume-icon icon-rect">
                        {% include 'icons/Logo_Universidad_Iberoamericana.html' %}
                    </div>
                    <h3 class="resume-title">Mechatronics Engineering</h3>
                    <span class="date"><i class="fa fa-calendar"></i><span class="sr-only"></span>&nbsp;&nbsp;&nbsp;Aug/2017 - Dec/2022</span>
                    <div class="resume-descr">
                        Universidad Iberoamericana
                    </div>
                    <div class="resume-more">
                        <a href="https://ibero.mx/" class="text-link" target="_blank">Learn More</a>
                    </div>
                </div>
                <!-- End Education Item -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 mt-5">
                <div class="d-flex align-items-center justify-content-center">
                    <h3 class="mb-5">Experience</h3>
                </div>

                <!-- Resume Item -->
                <div class="resume-item text-center wow animate__animated animate__fadeInUpShort" data-wow-delay=".1s" data-wow-duration="1.5s">
                    <div class="pb-3 d-flex align-items-center resume-icon icon-rect">
                        {% include 'icons/espressive_logo.html' %}
                    </div>
                    <h3 class="resume-title">DevOps Engineer - Espressive Inc.</h3>
                    <span class="date"><i class="fa fa-calendar"></i><span class="sr-only"></span>&nbsp;&nbsp;&nbsp;Sep/2022 - Present</span>
                    <div class="resume-descr">
                        Proin fringilla augue at maximus vestibulum. Nam pulvitaere neque et porttitor. Praesent
                        sed nisi eleifend lorem fermentum ac ante lorem ipsum sit amet.
                    </div>
                    <div class="resume-more">
                        <a href="https://www.espressive.com/" class="text-link" target="_blank">Learn More</a>
                    </div>
                </div>
                <!-- End Resume Item -->

                <!-- Resume Item -->
                <div class="resume-item text-center wow animate__animated animate__fadeInUpShort" data-wow-delay=".1s" data-wow-duration="1.5s">
                    <div class="pb-3 d-flex align-items-center text-center resume-icon icon-rect icon-light">
                        {% include 'icons/INIAT_logo.html' %}
                    </div>
                    <h3 class="resume-title">Control Systems python developer - INIAT</h3>
                    <span class="date"><i class="fa fa-calendar"></i><span class="sr-only"></span>&nbsp;&nbsp;&nbsp;Sep/2022 - Present</span>
                    <div class="resume-descr">
                        Proin fringilla augue at maximus vestibulum. Nam pulvitaere neque et porttitor. Praesent
                        sed nisi eleifend lorem fermentum ac ante lorem ipsum sit amet.
                    </div>
                    <div class="resume-more">
                        <a href="https://www.espressive.com/" class="text-link" target="_blank">Learn More</a>
                    </div>
                </div>
                <!-- End Resume Item -->

                <!-- Resume Item -->
                <div class="resume-item text-center wow animate__animated animate__fadeInUpShort" data-wow-delay=".1s" data-wow-duration="1.5s">
                    <div class="pb-3 d-flex align-items-center resume-icon icon-rect">
                        {% include 'icons/espressive_logo.html' %}
                    </div>
                    <h3 class="resume-title">DevOps Engineer - Espressive Inc.</h3>
                    <span class="date"><i class="fa fa-calendar"></i><span class="sr-only"></span>&nbsp;&nbsp;&nbsp;Sep/2022 - Present</span>
                    <div class="resume-descr">
                        Proin fringilla augue at maximus vestibulum. Nam pulvitaere neque et porttitor. Praesent
                        sed nisi eleifend lorem fermentum ac ante lorem ipsum sit amet.
                    </div>
                    <div class="resume-more">
                        <a href="https://www.espressive.com/" class="text-link" target="_blank">Learn More</a>
                    </div>
                </div>
                <!-- End Resume Item -->
            </div>
        </div>
        <!-- End Resume Grid -->
    </div>
</section>
<!-- End Resume Section -->