<script type="text/javascript">
    let passiveSupported = false;

    try {
        const options = {
            get passive() {
                // This function will be called when the browser
                // attempts to access the passive property.
                passiveSupported = true;
                return false;
            },
        };

        window.addEventListener("test", null, options);
        window.removeEventListener("test", null, options);
    } catch (err) {
        passiveSupported = false;
    }

    let mobileTest;
	if (
		/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)
	) {
		mobileTest = true;
		document.documentElement.classList.add("mobile");
	} else {
		mobileTest = false;
		document.documentElement.classList.add("no-mobile");
	}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
    defer></script>
<script src="{{url_for('static', filename='js/SmoothScroll.js')}}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.3/jquery.scrollTo.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js" defer></script>
<script src="{{url_for('static', filename='js/viewport.mini.js')}}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-parallax/1.1.3/jquery-parallax-min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" defer></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js" defer></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
    defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.11/jquery.lazy.min.js" defer></script>
<script src="{{url_for('static', filename='js/wow.min.js')}}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Morphext/2.4.4/morphext.min.js" defer></script>
<script src="{{url_for('static', filename='js/typed.min.js')}}" defer></script>
{% include "includes/dark_mode.html" %}
<script src="https://unpkg.com/splitting/dist/splitting.min.js" defer></script>
<script src="{{url_for('static', filename='js/all.js')}}" defer></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ captcha_key }}" defer defer></script>
{% include "includes/contact-form.html" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js" defer></script>
<script src="{{url_for('static', filename='js/objectFitPolyfill.min.js')}}" defer></script>