<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        const theme = localStorage.getItem('theme') || 'dark';
        document.documentElement.dataset.appliedTheme = theme;
    </script>

    <link rel="apple-touch-icon" sizes="180x180"
        href="{{url_for('static', filename= 'assets/icons/pageIcon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{url_for('static', filename= 'assets/icons/pageIcon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{url_for('static', filename= 'assets/icons/pageIcon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename= 'assets/icons/pageIcon/site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static', filename= 'assets/icons/pageIcon/safari-pinned-tab.svg')}}"
        color="#5bbad5">
    <link rel="shortcut icon" href="{{url_for('static', filename= 'assets/icons/pageIcon/favicon.ico')}}">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config"
        content="{{url_for('static', filename= 'assets/icons/pageIcon/browserconfig.xml')}}">
    <meta name="theme-color" content="#ffffff">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style-responsive.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/vertical-rhythm.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/splitting.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/threejsapp_styles.css')}}" type="text/css" />
    
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="appear-animate">
    {% block content %}{% endblock %}
    {% include "includes/scripts.html" %}
</body>

</html>